@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --global-background-color: #0C8346;
    --global-shawdow-color: #8FD5A6;
    --global-text-color: #F7F9F9;
    --text-hover-color:#E5C2C0;
}

html{
      background-color: var(--global-background-color);
      color: var(--global-text-color);
}

a{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

a:hover{
    color: var(--text-hover-color);
}

input{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--global-background-color);
    font-size: 25px;
    border-radius: 5px;
    width: 100%;
    margin: 13px auto;
    padding: 12px;
    border: solid 0.5px #9ecaed;
    box-shadow: 0 0 7px var(--text-hover-color);
}
input:focus{
    box-shadow: 0 0 10px var(--text-hover-color);
}

header{
box-shadow: 0 10px 15px -3px var(--global-shawdow-color);
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav ul{
    list-style-type: none;
    display: inline-flex;
}

header nav ul li{
    margin: 5px;
}
@media screen and (max-width: 640px) {
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 30px;
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 10px 15px -3px var();
}
.modals-wrapper{
    width: 100%;
    height: 100%;
    background-color:var(--text-hover-color) ;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal{
    border-radius: 5px;
    background-color:var(--global-background-color);
    min-width: 600px;
    min-height: 500px;
    padding: 20px;
}

#signup-modal , #login-modal{
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#password-modal{
    font-size: 20px;;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#close-modal{
    border-radius: 5px;
    color:var(--global-text-color);
    background-color: var(--global-background-color);
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 15px;
}

h2{
    margin-right: 300px;
    margin-bottom: 30px;
    color: var(--global-text-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 50px; 
}
